<?xml version="1.0" encoding="UTF-8"?>

<!-- colors don't work on Windows! -->
<phpunit bootstrap="phpunitBootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         forceCoversAnnotation="true"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         strict="true"
         verbose="true">
    <testsuites>
        <testsuite name="Addframe Core">
            <directory suffix="Test.php">Includes/Tests</directory>
        </testsuite>
        <testsuite name="Addframe Include">
            <directory suffix="Test.php">Includes/*/Tests</directory>
        </testsuite>
        <testsuite name="Addframe Include Extensions">
            <directory suffix="Test.php">Includes/*/*/Tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
