<phpunit bootstrap="tests/bootstrap.php"
         colors="true"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         verbose="true">
    <testsuites>
        <testsuite name="Addframe">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
