default = "[[$who|Bot]]: Migrating interwiki links, now provided by [[d:|Wikidata]] on [[d:$id]]"

afwiki = "[[$who|Bot]]: Verplasing van interwikiskakels wat op [[d:|Wikidata]] beskikbaar is op [[d:$id]]"
alswiki = "[[$who|Bot]]: Link zu anderne Sprooche wäg tue, die sind jetzt uf [[d:|Wikidata]] bi [[d:$id]] z finde"
amwiki = "[[$who|ሎሌ]]፦ መያያዣዎች ወደ ልሳናት አሁን በ [[Wikipedia:Wikidata|Wikidata]] ገጽ [[d:$id]] ስላሉ ተዛውረዋል።"
arwiki = "[[مستخدم:$who|بوت:]] ترحيل وصلة إنترويكي, موجودة الآن في [[d:|ويكي بيانات]] على [[d:$id]]"
arcwiki = "[[ܡܦܠܚܢܐ:$who|ܒܘܛ:]] ܫܘܢܝܐ ܕ ܐܣܘܪ̈ܐ ܕܐܢܛܪܘܝܩܝ, ܐܝܬ ܗܫܐ ܒ[[d:|ܘܝܩܝܓܠܝܬ̈ܐ]] ܥܠ [[d:$id]]"
arzwiki = "[[User:$who|بوت:]] نقل وصله إنترويكى, موجوده دلوقتى على [[Wikipedia:Wikidata|ويكى داتا]] فى [[d:$id]]"
astwiki = "[[$who|Bot]]: Moviendo enllace(s) interllingüístico(s), agora proporcionao(s) por [[d:|Wikidata]] na páxina [[d:$id]]"
barwiki = "[[$who|Bot]]: Links zu åndere Språchn weggatån, de wås jetz auf [[d:|Wikidata]] bei [[d:$id]] zam Findn san"
bat_smgwiki = "[[$who|Bot]]: Perkeliamas tarpkalbėnės nūruodas, daba esontės [[d:|Wikidata]] poslapī [[d:$id]]"
bewiki = "[[$who|Bot]]: Робат перанёс міжмоўных спасылак да аб'екта [[d:$id]] на [[:en:Wikipedia:Wikidata|Wikidata]]"
be_x_oldwiki = "[[$who|Робат]]: перанос міжмоўных спасылак у [[Вікіпэдыя:Вікізьвесткі|Вікізьвесткі]] да аб’екта [[d:$id]]"	
be_taraskwiki = "[[$who|Робат]]: перанос міжмоўных спасылак у [[Вікіпэдыя:Вікізьвесткі|Вікізьвесткі]] да аб’екта [[d:$id]]"
bgwiki = "[[$who|Робот]]: Преместване на междуезикови препратки към [[:en:Wikipedia:Wikidata|Уикиданни]], в [[d:$id]]"
bnwiki = "[[$who|বট]]: আন্তঃউইকি সংযোগ স্থানান্তর করেছে, যা এখন [[d:|উইকিউপাত্তের]] - [[d:$id]] এ রয়েছে"
bswiki = "[[$who|Bot]]: premještanje međuwiki linkova koji su sada dostupni na stranici [[d:$id]] na [[d:|Wikidati]]"
cawiki = "[[$who|Bot]]: Traient enllaços interwiki, ara proporcionats per [[d:|Wikidata]] a [[d:$id]]"
ckbwiki = "[[بەکارھێنەر:$who|بۆت:]] گواستنەوەی بەستەری نێوانویکی، ئێستا دابین کراوە لەسەر [[d:| ویکیدراوە]] لە [[d:$id]]"
cswiki = "[[$who|Bot]]: Odstranění [[Wikipedie:Wikidata#Mezijazykové odkazy|odkazů interwiki]], které jsou nyní dostupné na [[d:|Wikidatech]] ([[d:$id]])"
cywiki = "[[$who|Bot]]: cysylltiadau rhyngwici a ddarperir bellach gan Wikidata ynn [[d:$id]]"
dawiki = "[[$who|Bot]]: Migrerer interwikilinks, som nu leveres af [[d:|Wikidata]] på [[d:$id]]"
dewiki = "[[$who|Bot]]: [[Hilfe:Internationalisierung|Interwiki-Links]] nach [[d:|Wikidata]] ([[d:$id]]) migriert"
dsbwiki = "[[$who|Robot]]: jo cuzorěcne wótkaze wótwónoźeł, kótarež něnto stoje na boku [[d:$id]]"
elwiki = "[[$who|Ρομπότ]]: Μεταφέρω σύνδεσμους interwiki, που τώρα παρέχονται από τα [[Wikipedia:Wikidata|Wikidata]] στο [[d:$id]]"
enwiki = "[[$who|Bot]]: Migrating interwiki links, now provided by [[Wikipedia:Wikidata|Wikidata]] on [[d:$id]]"
eowiki = "[[$who|Roboto]]: Forigo de interlingvaj ligiloj, kiuj nun disponeblas per [[d:|Vikidatumoj]] ([[d:$id]])"
eswiki = "[[$who|Bot]]: Moviendo enlace(s) interlingüístico(s), ahora proporcionado(s) por [[d:|Wikidata]] en la página [[d:$id]]"
etwiki = "[[$who|Robot]]: muudetud intervikilink(i), mis on nüüd andmekogus [[d:$id|Wikidata]]"
euwiki = "[[$who|Robota]]: hizkuntza arteko lotura lekualdatzenaurrerantzean [[Wikipedia:Wikidata|Wikidata]] webgunean izango dira, [[d:$id]] orrian"
fawiki = "[[کاربر:$who|ربات:]] انتقال پیوند میان‌ویکی به [[d:$id]] در [[ویکی‌پدیا:ویکی‌داده|ویکی‌داده]]"
fiwiki = "[[$who|Botti]]: poisti [[Wikipedia:Wikidata|Wikidatan]] sivulle [[d:$id]] siirrettyä kielilinkkiä"
frwiki = "[[$who|Bot]] : retrait de liens interlangues, désormais fournis par [[d:|Wikidata]] à la page [[d:$id]]"
frrwiki = "[[$who|Bot]]: Fersküüw interwiki-links, diar nü uun [[d:|Wikidata]] üüb det sidj [[d:$id]] paroot stun"
fywiki = "[[$who|Robot]]: Verplaatsing van interwikilinks. Deze staan nu op [[d:|Wikidata]] onder [[d:$id]]"
glwiki = "[[$who|Bot]]: Retiro ligazóns interlingüísticas, proporcionadas agora polo [[d:|Wikidata]] en [[d:$id]]"
guwiki = "[[$who|બોટ]] : આંતરવિકિ કડીઓ સ્થળાંતર કરી, હવે તે [[Wikipedia:Wikidata|વિકિડેટા]] ખાતે [[d:$id]] પરથી મળશે"
hewiki = "בוט: מעביר קישורי בינויקי ל[[ויקיפדיה:ויקינתונים|ויקינתונים]] - [[d:$id]]"
hrwiki = "[[$who|Bot]]: brisanje međuwiki poveznica premještenih u stranicu [[d:$id]] na [[d:|Wikidati]]"
hsbwiki = "[[$who|Robot]]: je cuzorěčne wotkazy wotstronił, kotrež nětko steja na stronje [[d:$id]]"
huwiki = "[[$who|Bot]]: interwiki link áthelyezve a [[d:|Wikidata]] [[d:$id]] adatába"
hywiki = "[[$who|Բտթը՝]] Հեռացրեց ինտերվիքիի հղումները, հիմա հղումները կլինեն [[Wikipedia:Wikidata|Վիքիդատայում]]՝ [[d:$id]] համարի տակ"
iawiki = "[[$who|Robot]]: Migration de ligamines interwiki, fornite ora per [[Wikipedia:Wikidata|Wikidatos]] in [[d:$id]]"
idwiki = "[[$who|Bot]]: Migrasi pranala interwiki, karena telah disediakan oleh [[Wikipedia:Wikidata|Wikidata]] pada item [[d:$id]]"
ilowiki = "[[$who|Bot]]: Agiyal-alis kadagiti nga interwiki, a nait-iteden idiay [[Wikipedia:Wikidata|Wikidata]] iti [[d:$id]]"
iswiki = "[[$who|Bot]]: Flyt tungumálatengla, sem eru núna sóttir frá [[d:|Wikidata]] á [[d:$id]]"
itwiki = "[[$who|Bot]]: migrazione automatica di collegamenti interwiki a [[d:Wikidata:Pagina_principale|Wikidata]], [[d:$id]]"
jawiki = "[[$who|ボット]]: 言語間リンク 件を[[Wikipedia:ウィキデータ|ウィキデータ]]上の [[d:$id]] に転記"
kawiki = "[[$who|Bot]]: [[ვპ:ებ|ენათაშორისი ბმული]] გადატანილია [[Wikipedia:Wikidata|Wikidata]]-ზე, [[d:$id]]"
kowiki = "[[$who|봇]]: 인터위키 링크 개가 [[백:위키데이터|위키데이터]]의 [[d:$id]] 항목으로 옮겨짐"
kuwiki = "[[$who|Bot]]: girêdanên înterwîkiyê ên ku niha li ser [[:d|Wikidata]]yê ne, jê bibe"
lawiki = "[[$who|Bot]]: nexus intervici removet, quod nunc apud [[d:|Vicidata]] cum tessera [[d:$id]] sunt"
lbwiki = "[[$who|Bot]]: Huet Interwikilinke geréckelt, déi elo op [[d:|Wikidata]] op [[d:$id]] zur Verfügung gestallt ginn"
liwiki = "[[$who|Robot]]: Verplaatsing van interwikilinks. Deze staan nu op [[d:|Wikidata]] onder [[d:$id]]"
ltwiki = "[[$who|Bot]]: Perkeliamos tarpkalbinės nuorodos, dabar pasiekiamos [[d:|Wikidata]] puslapyje [[d:$id]]"
lvwiki = "[[$who|Bots]]: pārvieto starpvikipēdiju saites, kas atrodas [[d:|Vikidatos]] [[d:$id]]"
mgwiki = "[[$who|Bot]]: Nanala rohy interwiki izay efa omen'i [[:mg:w:Wikipedia:Wikidata|Wikidata]] eo amin"i [[d:$id]]"
minwiki = "[[$who|Robot]]: Migrasi pautan interwiki, dek lah disadioan jo [[Wikipedia:Wikidata|Wikidata]] pado [[d:$id]]"
mkwiki = "[[$who|Робот]]: Селам меѓујазични врски во [[d:|Википодатоци]] на [[d:$id]]"
mlwiki = "[[$who|Bot]]: ഇന്റര്‍വിക്കി കണ്ണികളെ [[Wikipedia:Wikidata|വിക്കിഡാറ്റയിലെ]] [[d:$id]] എന്ന താളിലേക്ക് മാറ്റിപ്പാര്‍പ്പിച്ചിരിക്കുന്നു."
mrwiki = "[[$who|सांगकाम्या]]: इतर भाषातील दुव्यांचे विलिनीकरण, आता [[d:WD:I|विकिडेटा]]वर उपलब्ध [[d:$id]]"
mswiki = "[[$who|Bot]]: Memindahkan pautan interwiki, kini disediakan oleh [[Wikipedia:Wikidata|Wikidata]] di [[d:$id]]"
mznwiki = "[[$who|ربوت]]:تا میون‌ویکی لینک دکشی‌ین، [[d:$id]] صفحه دله [[ویکی‌پدیا:ویکی‌دیتا|ویکی‌دیتا]] درون"
ndswiki = "[[$who|Bot]]: Interwikilenken, sünd nu na [[Wikipedia:Wikidata|Wikidata]] schaven [[d:$id]]"
nds_nlwiki = "[[$who|Robot]]: Verplaatsing van interwikilinks. Deze staan nu op [[d:|Wikidata]] onder [[d:$id]]"
newiki = "[[$who|Bot]]: अन्तरविकी लिङ्कहरु मिलाउदै, अब [[d:|विकितथ्य]]द्वारा [[d:$id]]मा प्रदान गरिएको "
nlwiki = "[[$who|Robot]]: Verplaatsing van interwikilinks. Deze staan nu op [[d:|Wikidata]] onder [[d:$id]]"
nnwiki = "[[$who|Robot]]: fjerna interwikilenkjer som er flytte til [[d:$id]] på [[Wikipedia:Wikidata|Wikidata]]"
nowiki = "[[$who|Bot]]: Fjerner interwikilenker som nå hentes fra [[d:$id]] på [[d:|Wikidata]]"
ocwiki = "[[$who|Bot]]: desplaçament de ligams interwiki sus [[Wikipedia:Wikidata|Wikidata]] dens la pagina [[d:$id]]"
oswiki = "[[$who|Бот]]: схафта æвзагы æрвитæны, кæцытæ [[Википеди:Викирардтæ|Викирардты]] нырид сты ацы фарсы: [[d:$id]]"
pflwiki = "[[$who|Bot]]: Indawikilinks geleschd. Die braach ma nimmi, die Infos sinn jetzad uff [[Wikipedia:Wikidata|Wikidata]] gschaischadd: [[d:$id|$id]]"
plwiki = "[[$who|Bot]]: Przenoszę linki interwiki do [[d:|Wikidata]], są teraz dostępne do edycji na [[d:$id]]"
ptwiki = "[[$who|Bot]]: A migrar interwikis, agora providenciados por [[Wikipedia:Wikidata|Wikidata]] em [[d:$id]]"
rowiki = "[[$who|Bot]]: Migrare a legături interwiki, furnizate acum de [[Wikipedia:Wikidata|Wikidata]] la [[d:$id]]"
ruwiki = "[[$who|Бот]]: Перемещение интервики на [[Wikipedia:Wikidata|Викиданные]], [[d:$id]]"
scowiki = "[[$who|Bot]]: Migratin interwiki links, noo providit bi [[Wikipedia:Wikidata|Wikidata]] oan [[d:$id]]"
shwiki = "[[$who|Bot]]: migracija međuwiki veza sada dostupnih na stranici [[d:$id]] na [[d:|Wikidati]]"
skwiki = "[[$who|Bot]]: Odstránenie odkazov interwiki, ktoré sú teraz dostupné na [[d:|Wikiúdajoch]] [[d:$id]]"
slwiki = "[[$who|Bot]]: Migracija interwikija/-ev, od zdaj gostuje-jo na [[d:|Wikipodatkih]], na [[d:$id]]"
szlwiki = "[[$who|Bot]]: przećepoł linkůw interwiki, terozki bydům ůune na [[d:|Wikidata]]"
sqwiki = "[[$who|Bot]]: Transferoi lidhje ndërwiki, të cilat tashmë janë në dispozicion tek [[Wikipedia:Wikidata|Wikidata]] në artikullin [[d:$id]]"
srwiki = "[[$who|Бот]]: Пренос међујезичких веза, које су сад на [[Википедија:Википодаци|Википодацима]] на [[d:$id]]"
suwiki = "[[$who|Bot]]: Migrasi tutumbu interwiki, ayeuna dilayanan ku [[Wikipedia:Wikidata|Wikidata]] dina kaca [[d:$id]]"
svwiki = "[[$who|Bot]]: överför interwikilänkar, som nu återfinns på sidan [[d:$id]] på [[d:|Wikidata]]"
tawiki = "[[$who|தானியங்கி:]] விக்கியிடை இணைப்புகள் நகர்த்தப்படுகின்றன, தற்போது [[Wikipedia:Wikidata|விக்கிதரவில்]] இங்கு [[d:$id]]"
tetwiki = "[[$who|Bot]]: Hasai ligasaun interwiki, ne'ebé agora mai husi [[d:$id]] iha [[d:|Wikidata]] "
trwiki = "[[$who|Bot]]: Artık [[d:Wikidata:Ana_Sayfa|Vikiveri]] tarafından [[d:$id]] sayfası üzerinden sağlanan vikilerarası bağlantı taşınıyor"
ttwiki = "[[$who|Бот]]: бу мәкаләнең [[Википедия:Интервики|интервики]] сылтамалары хәзер Wikidata-да: [[d:$id]]"
ukwiki = "[[$who|Бот]]: Вилучення інтервікі, відтепер доступних на [[Вікіпедія:Вікідані|Вікіданих]]: [[d:$id]]"
urwiki = "[[صارف:$who|روبالہ:]] منتقلی بین الویکی روابط، اب [[d:|ویکی ڈیٹا]] میں [[d:$id]] پر موجود ہیں"
uzwiki = "[[$who|Bot]]: endilikda [[d:Wikidata:Ana_Sayfa|Wikidata]] [[d:$id]] sahifasida saqlanadigan intervikini koʻchirdi"
vecwiki = "[[$who|Bot]]: Migrasion de interwiki links so [[d:Wikidata:Pagina_principale|Wikidata]] - [[d:$id]]"
viwiki = "[[$who|Bot]]: Di chuyển liên kết ngôn ngữ đến [[d:$id]] tại [[d:|Wikidata]]"
zeawiki = "[[$who|Robot]]: Verplaatsing van interwikilinks. Deze staan nu op [[d:|Wikidata]] onder [[d:$id]]"
zh_classicalwiki = ""[[$who|僕]]：刪跨語之連，今由[[d:|維基數據]]之[[d:$id]]供矣。"
zh_hanswiki = "[[$who|机器人]]：移除个跨语言链接，现在由[[d:|维基数据]]的[[d:$id]]提供。"
zh_hanswiki = "[[$who|僕]]：刪跨語之連，今由[[d:|維基數據]]之[[d:$id]]供矣。"
zh_yuewiki = "[[$who|機械人]]：去掉個跨語言連接，宜傢由[[d:|維基數據]]嘅[[d:$id]]提供。"


enwikivoyage = "[[$who|Bot]]: Migrating interwiki links, now provided by [[d:|Wikidata]] on [[d:$id]]"
dewikivoyage = "[[$who|Bot]]: Interwiki-Links nach [[d:|Wikidata]] ([[d:$id]]) migriert"
ptwikivoyage = "[[$who|Bot]]: A migrar interwikis, agora providenciados por [[d:|Wikidata]] em [[d:$id]]"
eswikivoyage = "[[$who|Bot]]: Moviendo enlace(s) interlingüístico(s), ahora proporcionado(s) por [[d:|Wikidata]] en la página [[d:$id]]"
frwikivoyage = "[[$who|Bot]] : retrait de liens interlangues, désormais fournis par [[d:|Wikidata]] à la page [[d:$id]]"
itwikivoyage = "[[$who|Bot]]: migrazione automatica di collegamenti interwiki a [[d:Wikidata:Pagina_principale|Wikidata]], [[d:$id]]"
rowikivoyage = "[[$who|Bot]]: Migrare a legături interwiki, furnizate acum de [[d:|Wikidata]] la [[d:$id]]"
ukwikivoyage = "[[$who|Бот]]: Вилучення інтервікі, відтепер доступних на [[d:|Вікіданих]]: [[d:$id]]"
elwikivoyage = "[[$who|Ρομπότ]]: Μεταφέρω σύνδεσμους interwiki, που τώρα παρέχονται από τα [[d:|Wikidata]] στο [[d:$id]]"
hewikivoyage = "בוט: מעביר קישורי בינויקי ל[[ויקיפדיה:ויקינתונים|ויקינתונים]] - [[d:$id]]"
ruwikivoyage = "[[$who|Бот]]: Перемещение интервики на [[d:|Викиданные]], [[d:$id]]"
plwikivoyage = "[[$who|Bot]]: Przenoszę linki interwiki do [[d:|Wikidata]], są teraz dostępne do edycji na [[d:$id]]"
svwikivoyage = "[[$who|Bot]]: överför interwikilänkar, som nu återfinns på sidan [[d:$id]] på [[d:|Wikidata]]"
nlwikivoyage = "[[$who|Robot]]: Verplaatsing van interwikilinks. Deze staan nu op [[d:|Wikidata]] onder [[d:$id]]"
